@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

*{
    border:1px solid red;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

.main-header{
    position: relative;
    top: 0;
    height: 5rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content: space-around;
    z-index: 1;
}

.navbar{
    color: hsl(233, 8%, 62%);
}

.navbar ul{
    height: 5rem;
    display: flex;
    align-items: stretch;
    list-style: none;
    gap: 1.5rem;
}

.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navbar li::before{
    content:"";
}

.navbar li::after{
    content: "";
    transform: scaleX(0);
    height: 5px;
    border-radius: 3px;
}

.navbar li:hover{
    color: hsl(233, 26%, 24%);
    transition: 400ms ease-out;
}

.navbar li:hover::after {
    transform: scaleX(1);
    transition: transform 400ms ease-out;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.request-button{
    font-weight: 600;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%) );
    border: none;
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
    color:white;
}

.request-button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 400ms ;
}

.main-container{
    background-color: hsl(0, 0%, 98%);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size:content;
    background-position: 46vw -16vw;
}

.left-showcase{
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0rem 10rem 0 7rem;
    padding: 0 11rem 0 0;
    gap: 2rem;
    width: 50%;
}

.left-showcase h1{
    color: hsl(233, 26%, 24%);
    font-size: 3.5rem;
}

.left-showcase p{
    color: hsl(233, 8%, 62%);
}

.right-showcase{
    overflow: hidden;
    display: flex;
    align-items: center;
    width:50%;
}
.right-showcase img{
    height: 60vmax;
}

/* Feature Section */

.why_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: hsl(220, 16%, 96%);
    gap:2rem;
    padding: 5rem 10rem; 
}

.why_section h3{
    color: hsl(233, 26%, 24%);
    font-size:2.4rem;
}

.why_section span{
    color: hsl(233, 8%, 62%);
}

.why_features{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.why_feature{
    border-radius:5px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    gap:1rem;
}

.why_feature h4{
    font-size: 1.3rem;
    color: hsl(233, 26%, 24%);
}
.why_feature p{
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
    width: 15rem;
}

/*Article Section*/
.article_section{
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 10rem; 
}

.articles_div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.article_section h3{
    color: hsl(233, 26%, 24%);
    font-size: 2.4rem;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    max-width: 25%;
}

.article h4{
    font-size: 1.2rem;
    color: hsl(233, 26%, 24%);
    width: 10rem;

}

.article h4:hover{
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}

.by{
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}

.article p{
    max-width: 18rem;
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}

.article img{
    border-radius: 0.5rem 0.5rem 0 0;
    height: 13rem;
    width: 100%;
}


/* Footer Section*/

footer{
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    color:white;
    padding: 3rem 0;
}

.footer_icons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_media{
    display: flex;
    justify-content: space-between;
}

.social_media img:hover{
    cursor: pointer;
    filter: invert(62%) sepia(80%) saturate(390%) hue-rotate(83deg) brightness(89%) contrast(102%);
}
footer nav{
    height: 100%;
    display: flex;
    gap: 8rem;
}

footer ul{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 1rem;
}

footer ul li:hover {
    color:hsl(136, 65%, 51%);
    cursor: pointer;
}

.copyright {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color:hsl(233, 8%, 62%);
    justify-content: space-between;
    align-items: flex-end;
}

/* Hamburger */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    text-align: center;
}

#hamburger-icon-close {
    margin: auto 0;
    display: none;
    cursor: pointer;
    text-align: center;
}

.hamburger{
    width: 2rem;
    margin: auto 0;
}

.open #hamburger-icon-close {
    display: block;
    transition: 500ms;
}

.open #hamburger-icon {
    display: none;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    z-index: 1;
}

.mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1rem;
    right: 1.1rem;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
    box-shadow: 0 5rem 50rem hsl(233, 8%, 62%);
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu li a{
    text-decoration: none;
}


@media (min-width: 2000px){
    .main-container{
        background-size: cover ;
    }
}

@media (max-width: 800px){

    .navbar{
        display: none;
    }

    header button{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    .main-container{
        flex-direction: column-reverse;
        background-image: none;
        margin: 0;
        padding: 0;
        gap: 2rem;
        align-items: stretch;
        height: auto;
    }

    .right-showcase{
        width:100%;
        margin:0;
        padding:0;
        justify-content: center;
        background-image: url("./images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -5rem;
    }

    .right-showcase img{
        translate: 0 -4.4rem;
    }

    .left-showcase{
        align-self: center;
        width:100%;
        margin:0;
        padding: 0 2rem 5rem 2rem;
        align-items: center;
        text-align: center;
    }

    .left-showcase h1{
        font-size: 2.5rem;
    }
    .why_section{
        align-items:center;
        padding: 2rem;
        text-align: center;
    }

    .why_section p {
        display: inline;
    }

    .why_features {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .why_feature {
        align-items: center;
    }

    .article_section{
        margin: 0;
        padding: 0;
        padding: 5rem 0;
    }
    .articles_div{
        justify-content: space-around;
        align-items: center;
    }

    .articles{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        gap: 3rem;
    }

    .article{
        margin: 0;
        padding: 0;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .article h4{
        width: 70%;
    }

    .article img {
        width: 100%;
    }

    footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    footer nav{
        flex-direction: column;
        gap:1rem;
    }

    .footer_icons {
        gap: 2rem;
    }
    
    .copyright {
        align-items: center;
    }
}
